# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/modules/
/sonarlint/
/compiler.xml
/gradle.xml
/jarRepositories.xml
/misc.xml
/modules.xml
teach-code.iml
uiDesigner.xml
vcs.xml
